@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  box-shadow: none; }

input:focus {
  outline: 0; }

html {
  font-size: 16px; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif"; }

code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Source Code Pro", monospace; }

*[class*="font-"][class*="-sans"] {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif; }
*[class*="font-"][class*="-serif"] {
  font-family: "Noto Serif", "Noto Serif SC", serif; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  color: #333333; }

body {
  overflow-x: hidden; }

img {
  vertical-align: middle;
  max-width: 100%; }

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 24px; }
  @media only screen and (max-width: 768px) {
    body {
      max-width: 100%; } }
  body *::selection {
    background-color: rgba(51, 195, 194, 0.16); }
body * {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
body p a, body li a, body table a, body blockquote a {
  color: #33C3C2;
  cursor: pointer; }
body hr {
  border: none;
  width: auto;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 1.5rem 0; }
body sup, body sub {
  font-size: smaller;
  line-height: 1; }
body sup {
  vertical-align: super; }
body sub {
  vertical-align: sub; }
body strong, body b {
  font-weight: 500; }
body del {
  text-decoration: line-through;
  color: #858585; }
body em {
  font-weight: 500;
  font-style: normal; }
body mark {
  background-color: rgba(51, 195, 194, 0.24);
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  body mark:hover {
    background-color: rgba(51, 195, 194, 0.4); }
body u {
  background-color: rgba(51, 195, 194, 0.24);
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  body u:hover {
    background-color: rgba(51, 195, 194, 0.4); }
body details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem; }
  body details summary {
    font-weight: bold;
    margin-left: -1rem;
    line-height: 2; }
body img, body figure {
  margin: 0 auto; }
body > figure,
body > img,
body > p > img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  body > figure._12,
  body > img._12,
  body > p > img._12 {
    padding-left: 12px;
    padding-right: 12px; }
@media only screen and (max-width: 672px) {
  body > figure img,
  body > p > figure img,
  body > p > img {
    max-width: 10000px;
    width: calc(100% + 48px);
    margin-left: -24px; } }
body [class*="grid"] + ul {
  margin: 1.5rem 0;
  padding: 0;
  display: grid;
  list-style: none;
  grid-column-gap: 2px;
  grid-row-gap: 2px; }
  @media only screen and (max-width: 672px) {
    body [class*="grid"] + ul {
      max-width: 10000px;
      width: calc(100% + 48px);
      margin-left: -24px; } }
  body [class*="grid"] + ul li {
    position: relative;
    padding-top: 100%; }
    body [class*="grid"] + ul li img, body [class*="grid"] + ul li p {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
body [class*="grid"][class*="-4"] + ul {
  grid-template-columns: 50% 50%;
  padding-right: 2px; }
body [class*="grid"][class*="-9"] + ul {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  padding-right: 4px; }
  @media only screen and (max-width: 672px) {
    body [class*="grid"][class*="-9"] + ul {
      max-width: 10000px;
      width: calc(100% + 48px);
      margin-left: -24px; } }
body blockquote {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  position: relative;
  margin: 1.5rem 0;
  padding-left: 1rem;
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.8); }
  body blockquote > * {
    font-size: 87.5% !important; }
    body blockquote > * * {
      font-size: 100%; }
  body blockquote * {
    text-align: left; }
body blockquote > blockquote {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.64);
  font-size: 100% !important;
  margin-bottom: 4rem;
  background-color: white;
  box-shadow: none;
  padding-left: 0;
  margin-left: -1rem; }
  body blockquote > blockquote * {
    text-align: center;
    hyphens: none; }
  body blockquote > blockquote::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.16);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: -1.5em; }
body .quote + blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: none;
  padding: 0 1.5em;
  border: none;
  position: relative;
  box-shadow: none;
  font-weight: 500;
  line-height: 2; }
  body .quote + blockquote > * {
    font-size: 100%; }
    body .quote + blockquote > * * {
      font-size: 100%; }
  body .quote + blockquote * {
    text-align: left; }
  body .quote + blockquote::before {
    background: none;
    content: "“";
    position: absolute;
    left: 0;
    top: -0.25em;
    font-size: 3.5em;
    line-height: 1;
    color: rgba(0, 0, 0, 0.08); }
  body .quote + blockquote::after {
    content: "”";
    position: absolute;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.08);
    bottom: -2rem;
    right: 0.5em; }
  body .quote + blockquote > * {
    font-size: 100% !important; }
    body .quote + blockquote > * * {
      font-size: 100%; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  line-height: 1.75;
  margin-top: 1em;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: left;
  hyphens: none; }
body h1 {
  font-size: 1.5rem; }
body h2 {
  font-size: 1.25rem; }
body h3 {
  font-size: 1.125rem; }
body h4, body h5, body h6 {
  font-size: 1rem; }
@media only screen and (max-width: 414px) {
  body h1 {
    font-size: 1.25rem; }
  body h2 {
    font-size: 1.125rem; }
  body h3, body h4, body h5, body h6 {
    font-size: 1rem; }
  body h5, body h6 {
    display: none; } }
body h5, body h6 {
  display: none; }
body p {
  font-size: 1rem;
  line-height: 2;
  margin-top: 1em;
  margin-bottom: 1em; }
body .initial + p::first-letter {
  vertical-align: middle;
  float: left;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem; }
body li {
  font-size: 1rem;
  line-height: 2em; }
body > ul, body > ol {
  margin-top: 1rem;
  margin-bottom: 1rem; }
body ul, body ol {
  padding-left: 2rem; }
body ol {
  list-style-type: decimal; }
body ul {
  list-style-type: disc; }
body li ol {
  list-style-type: lower-roman; }
body li ul {
  list-style-type: circle; }
body li li ol {
  list-style-type: lower-alpha; }
body li li ul {
  list-style-type: square; }
